@import "../../styles/functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.title {
    font-size: 20px;
}

.container {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;

    &Chart {
        text-align: center;
        width: 40%;

        >h4 {
            padding-bottom: 1rem;
        }
    }


}

.banner {
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    color: #000000;
    padding: .5em 1em;
    text-align: left;
    width: 80%;
    margin: 1rem auto;
    background: #6dc3e8;
    box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.251);

    >p {
        width: 100%;
    }

    >i {
        margin: 0 1em;
        font-size: 30px;
    }
}