@import "../../styles/functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3.5rem 1rem;
}

.title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;

    color: #002d5f;
}

.userBadge {
    display: flex;
    flex-direction: row;
    align-items: start;

    >img {
        margin-right: 1rem;
        height: 30px;
        border: 3px solid #303030ad;
        border-radius: 50%;
    }

    &_text {
        margin: 0 5rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: end;

        >h4 {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
        }

        >p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #000000;
        }
    }
}

button {
    border: none;
    color: black;
    padding: 5px 15px;
}