@import "../../styles/functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.boxesContainer {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background: #6dc3e8;
    box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.251);
    border-radius: 10px;
    width: 250px;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    text-decoration: none;

    &Title {
        display: flex;
        text-align: center;
        color: #000000;
        text-decoration: none;


        >h1 {
            margin: 0 .5rem 0 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            display: flex;
            text-decoration: none;
        }

        >bold {
            font-size: 20px;
            display: flex;
            align-items: center;

        }

    }

}

.content {
    margin: 3rem 0 0 0;
    background: #FCFCFC;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;

    &Item {
        h5 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            color: #000000;
            margin: 0 0 2.5rem 0;
        }

        ul {
            padding: 0;
        }

        li {
            list-style-type: none;
            margin: 1rem;
            padding: .5rem 2rem;
            background: rgba(40, 170, 224, 0.5);
            border-radius: 3px;
        }
    }

    >hr {
        margin: 0 3rem;
    }

}